.container {
  width: 100%;
  padding: 0;
  background: white;
  padding-top: 40px;
}
.wrapper {
  text-align: center;
  font-family: arial;
  flex: 1 1 150px;

}
.button {
  color: white;
  background-color: black;
  width: 200px;
  margin: 0 10px;
  margin-bottom: 20px;
  display: inline-block;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  background-image: none;
  cursor: pointer;
}
