.general {
  background-color: white;
  padding-top: 5rem;
  height: 100vh;
}
.wrapper {
  background-color: white;
  height: 100%;
}
.wrapper h1 {
  text-align: center;
}
.form__input__group {
  display: grid;
  place-items: center;
  margin-bottom: 25px;
}
.form__input__group b {
  display: block;
  height: 100%;
  padding-right: 10px;
  padding-bottom: 5px;
  line-height: 1.55;
  font-size: 18px;
}
.form__input__group input {
  color: #000000;
  border: 1px solid #000000;
  margin: 0;
  font-size: 100%;
  height: 60px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 25%;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
  margin-bottom: 10px;
}
.form__input__group button {
  font: inherit;
  background-color: blue;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
  height: 40px;
  width: 100px;
}
